# .NET
bin/
obj/
**/bin/
**/obj/
.vs/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/crash.log
infra/terraform/terraform.tfvars
infra/terraform.exe

# OS
Thumbs.db
.DS_Store
